<header class="contain-to-grid fixed">
    <nav class="top-bar" data-topbar data-options="sticky_on: large">
        <ul class="title-area">
            <li class="name"><h1><a href="/index.php">RMTools</a></h1></li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
            <ul class="right">
                <li class="divider"></li>
                <li><a id="infoButton">Help me !</a></li>
                <li class="divider"></li>
                <li app="dedup"><a href="/apps/dedup/dedup.php">Dedup</a></li>
                <li app="sanitizekit"><a href="/apps/sanitizekitmail/sanitizeKitmail.php">Sanitize Kitmail</a></li>
                <li app="linkor"><a href="/apps/linkor/linkor.php">Linkor</a></li>
            </ul>
            <ul class="left" id="anchors">
                <li class="divider"></li>
                <li><a href="#">top &uarr;</a></li>
                <li class="divider"></li>
                <li><a href="#linksBlock">Liens</a></li>
                <li><a href="#options">Options</a></li>
                <li><a href="#copy">Code</a></li>
            </ul>
        </section>
    </nav>
</header>